@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body {
    background-color:rgb(175, 170, 161);
}

h3 {
    font-family: 'Chela One', cursive;
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.MovieDetails {
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px auto;
    background-image: url('../components/reel-image.png');
    background-size: cover;
    width: 400px;
    padding: 40px 100px 30px 100px;
}

.allCaps {
    font-weight: bold;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    margin: 3px;
}

#star {
    font-size: 30px;
    color: goldenrod;
    margin: 0px;
    float: right;
    z-index: 1;
    position: absolute;
}

#star:hover {
    color: rgb(230, 207, 150);
}

.MovieDetails img {
    width: 150px;
}

.MovieInfo {
    display: flex;
    justify-content: space-between;
}

.Column {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}